#topBox{
    display:grid;
    grid-template-columns: 58% 42%;
    grid-template-rows: 93%;
}
#leftBox{
    width:100%;
    background-image: url(https://assets.faasos.io/faasos_v2/brandPattern.png);
}
#rightBox > img{
    width:575px;
    height:584px;
    border-bottom-left-radius: 4%;
}
#logoLine{
    display: grid;
    grid-template-columns: 20% 50%;
    grid-template-rows: 60%;
    grid-gap: 38%;
    margin:12% 0% 0% 13%;
}
#logoLine > div:nth-child(2){
   
    display:grid;
    grid-template-columns: 30% 33%;
    grid-gap: 1%;
    font-size: large;
}
#logoLine > div:nth-child(2) > div:nth-child(1){
    padding:11% 0% 0% 26%;
    color: rgb(255, 211, 68);
    font-weight: 800;
}
#logoLine > div:nth-child(2) > div:nth-child(2){
    padding:7% 0% 0% 22%;
    color: rgb(255, 211, 68);
    font-weight: 800;
    border: 1px solid rgb(255, 211, 68);
    border-radius: 0.4rem;
}
#leftBox > h1:nth-child(2){
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.01rem;
    margin:10% 0% 0% 13%;
}
body > h1:nth-child(2){
    text-align: center;
    color: rgb(51, 51, 51);
    font-weight: 800;
    margin-top:5%;
}
body > div:nth-child(3){
    font-family: Muli, sans-serif;
    color: rgb(126, 126, 126);
    text-align: center;
    white-space: normal;
    font-weight: 300;
    margin-top:-1%;
}
