@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
      
        *{
           font-family: 'Mulish', sans-serif;
        }
        body{
            background-color: whitesmoke;

        }

        /* Image Carousel  */
        .swiper {
        width: 100%;
      }

      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 10px;
      }
      .swiper-btn {
        background-color: white;
        padding: 10px 15px;
        border-radius: 50%;
      }
      .swiper-button-next:after,
      .swiper-button-prev:after {
        font-size: 21px;
        color: black;
        font-weight: 900;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
      }

      @media only screen and (min-width: 769px) {
        .swiper-slide:first-child {
          transition: transform 100ms;
        }

        .swiper-slide:first-child img {
          transition: box-shadow 500ms;
        }

        .swiper-slide.swiper-slide-active:first-child {
          transform: translateX(50%);
          z-index: 2;
        }

        .swiper-slide.swiper-slide-active:first-child img {
          box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
        }

        .swiper-slide:nth-child(2) {
          transition: transform 100ms;
        }

        .swiper-slide.swiper-slide-next:nth-child(2) {
          transform: translateX(55%);
          z-index: 1;
        }

        .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
          transform: translateX(-50%);
        }

        .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
          transform: translateX(-55%);
        }
      }

  /* Image Carousel End */
        .box{
            border: 1px solid black;
        }
        .container{
            width: 85%;
            margin: auto;

        }
        .container div{
            margin: 1%;
            align-items: center;

        }
        .row{
            display: flex;
           
        }
        .center{
            align-items: center;
        }
        .col-left{
            width: 15%;
            height: 390px;
            padding: 15px;
            background-color: white;
            border: none;
            border-radius: 2px;

        }
        .col-mid{
            width: 50%;
            border-radius: 2px;
            display: grid;
            grid-template-columns: repeat(2,49%);
           column-gap: 3%;
           row-gap: 0.5%;
        }
        .col-right{
            width: 33%;

            border-radius: 2px;
            border: none;
            background-color: white;
            padding: 15px;

        }
        .cart-small-txt{
            font-size: 12px;
            color:#BDBDBD;

        }
        .cart-left{
            width: 50%;
        }
        .item-btn{
            border: 1px solid #FFA000;
            background-color: white;
            color: black;
            font-size: 18px;
            border-radius: 4px 7px 7px 4px;
            margin: 8px;
            height: 40px;
            width: 40px;
        }
        #plus-btn{
            border-radius: 7px 4px 4px 7px;

        }
        .p-text-color{
            color:#726e6e;
            font-size: 14px;

        }
        .margin{
            margin: 6px;
        }
        .addtoCartBtn{
            width: 50%;
            height: 30px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 500;
            color: black;
            border: none;
            background-color: #FFCA28; 
        }
        .checkout-btn{
            width: 100%;
            height: 46px;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 600;
            color: black;
            border: none;
            background-color: #FFCA28;
        }
        .line-height{
            line-height: 0%;
        }
        /* product page description */
        .prod-desc{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin: 10px 10px 0 0 ;
          color: grey;
          font-size: 15px;
        }
         .prod-desc + p{
             margin-top: 0;
             color: grey;
             font-weight: bold;

         }
        
        .prod_name{
            font-weight: 900;
            font-size: 25px;
        }
        .prod-name-price{
            align-items: center;
        }
        .prod-name-price > p:nth-child(1){
            width: 300px;
        }
        .prod-name-price > p:nth-child(2){
            white-space: nowrap;
            font-weight: 600;
        }
        .prod-rating-div{
            text-align:center;
            font-size: 15px;
            background-color:rgb(76, 175, 80);
            border-radius: 4px;
            color: white;
            height:35px;
            width:70px;
            font-weight: bold;
            line-height:35px;
            

            

        }
        .prod-rating-div > p{
            margin: 0;
        
            
        }
        .fa-star{
            margin-right:5px;
            font-size: 15px;
            

        }
        .addtoCart{
            /* display: none; */
            text-align: center;

        }
        .addtoCart>div{
            background-color:#FFCA28;
            padding:10px;
            height:30px;
            font-size: 17;
            line-height: 30px;
            border-radius: 4px;
            font-weight: bold;
            width: 150px;
        }
        .addtoCart>p{
        color:grey;
        margin: 0;
        }