*{
    font-family: 'Muli' ,sans-serif;
}

#nav-bar{
    width: 60%;
    height: 70px;
    margin: auto;
    border: 1px ;
    display: flex;
    box-shadow: 5px 2px 5px grey;
}

#logo{

    display: inline-block;
    border: 1px;
    width: 80px;
    height: 50px;
    margin-top: 12px;
    margin-left: 3px;
    box-sizing: border-box;

}
#location-div{
  
    display: grid;
    gap: 2px;
    border: 1px;
    width: 500px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;


} 

#hamburger-div{
    display: inline-block;
    border: 1px ;
    width: 100px ;
    height: 40px;
    margin-top: 15px;
    margin-left: 30%;
    display: flex;
    cursor: pointer;
}

#login-btn-div{
    border: 1px ;
    display: flex;
}
#login-btn{
    margin-top: 5px;
    margin-left: 10px;
}
#hmb-btn{
    border: 1px ;
    display: grid;
    margin-left: 50px;
    

}

.material-icons.md-36 { font-size: 30px; }






/* ---- Hamburger CSS strt --  */

.hmb_model_wrapper{
   
    border: 1px solid;
    background-color:  rgba(0, 0, 0, 0.6);
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
    
}

.hmb_model_container{
  
    width: 440px;
    height: 100%;
    background-color: white;
    max-width: 90%;
    padding: 20px;
    border-radius: 6px;
    margin-left: 75%;
    position: relative;
    transform: translateX(100%);
    
}

#hmb_list>li{
    margin-top: 20px;
}

.hmb_model_container button.hmb_close{
    position:absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border:none;
    background: none;
    outline: none;


}

.hmb_model_wrapper.active .hmb_model_container{
    transform: translateX(0px);
} 

.active{
    opacity: 1;
    pointer-events: auto;

}

/* ---- Hamburger CSS end --  */